@using SchoolApplication.Models;
@model Categoria
@{

    Layout = "~/Views/Shared/_LayoutAdm.cshtml";

}

@using (Html.BeginForm("CadastrarCategoria", "Categoria", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Cadastrar Categoria</legend>
        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div id="Nome" class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Nome, null, new
           {
               @class = "form-control",
               @placeholder = "Nome",
               @style = "width:50%"
           })
                @Html.ValidationMessageFor(model => model.Nome, null, new { @class = "text-danger" })
            </div>
        </div>

        <div id="Descricao" class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model=>model.Descricao, new
           {
               @class = "form-control",
               @placeholder = "Digite a descricao da categoria aqui...",

               @rows = "7"
           })
                @Html.ValidationMessageFor(model => model.Descricao, null, new { @class = "text-danger" })
            </div>
        </div>


        <div id="divrec" class="g-recaptcha" data-sitekey="6LcEknwUAAAAAG7Zf3sEqpnrnoRIEP5a_TYxvoT_"></div>

<br />
        <div id="Button" class="col-sm-11">
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Cadastrar" />
            </div>
        </div>
    </fieldset>
}

<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script> 


